In [11]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

Neste primeiro modelo, vamos prever o salário por hora dos funcionários.

In [12]:
# leitura e treinando dados
train_df = pd.read_csv('data/hourly_wages_data.csv')

# visualizando dados
train_df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [6]:
# cria um dataframe com todos dados de treino exceto a coluna alvo
target = train_df['wage_per_hour']
train_X = train_df.drop(columns=['wage_per_hour'])

# verifica a coluna alvo foi removida 
train_X.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [7]:
# cria um dataframe unicamente com a coluna alvo
train_y = train_df[['wage_per_hour']]

#visualiza o dataframe
train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

In [9]:
#cria modelo
model = Sequential()

#obter o número de colunas nos dados de treinamento
n_cols = train_X.shape[1]

#adicionar camadas de modelo
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

# compila o modelo usando o mse como uma medida de desempenho do modelo 
model.compile(optimizer='adam', loss='mean_squared_error')

# definir o monitor de parada antecipada para que o modelo pare de treinar quando ele não melhorar mais
early_stopping_monitor = EarlyStopping(patience=3)

In [10]:
# treinar modelo
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
14/14 [==============================] - 0s 8ms/step - loss: 38.9031 - val_loss: 74.1833
Epoch 2/30
14/14 [==============================] - 0s 2ms/step - loss: 33.3488 - val_loss: 60.6810
Epoch 3/30
14/14 [==============================] - 0s 2ms/step - loss: 30.8068 - val_loss: 53.7132
Epoch 4/30
14/14 [==============================] - 0s 2ms/step - loss: 28.8902 - val_loss: 49.4756
Epoch 5/30
14/14 [==============================] - 0s 2ms/step - loss: 26.8978 - val_loss: 45.9535
Epoch 6/30
14/14 [==============================] - 0s 2ms/step - loss: 25.1402 - val_loss: 41.6596
Epoch 7/30
14/14 [==============================] - 0s 2ms/step - loss: 23.5065 - val_loss: 38.7170
Epoch 8/30
14/14 [==============================] - 0s 2ms/step - loss: 22.2943 - val_loss: 36.1816
Epoch 9/30
14/14 [==============================] - 0s 2ms/step - loss: 21.4097 - val_loss: 35.2339
Epoch 10/30
14/14 [==============================] - 0s 2ms/step - loss: 20.8966 - val_loss: 32.8981
Epoch 11/30
14/14 [==============================] - 0s 2ms/step - loss: 20.3322 - val_loss: 33.1062
Epoch 12/30
14/14 [==============================] - 0s 2ms/step - loss: 20.1209 - val_loss: 32.6698
Epoch 13/30
14/14 [==============================] - 0s 2ms/step - loss: 19.8458 - val_loss: 31.3446
Epoch 14/30
14/14 [==============================] - 0s 2ms/step - loss: 19.7708 - val_loss: 30.9189
Epoch 15/30
14/14 [==============================] - 0s 2ms/step - loss: 19.6260 - val_loss: 31.1836
Epoch 16/30
14/14 [==============================] - 0s 2ms/step - loss: 19.4773 - val_loss: 31.1778
Epoch 17/30
14/14 [==============================] - 0s 2ms/step - loss: 19.4116 - val_loss: 31.0530

In [7]:
# treinar um novo modelo com os mesmos dados para mostrar o efeito do aumento da capacidade do modelo

# criar modelo
model_mc = Sequential()

# adicionar camadas no modelo
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

# compilar o modelo usando o mse como uma medida de desempenho do modelo
model_mc.compile(optimizer='adam', loss='mean_squared_error')

In [8]:
# treinar modelo
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Epoch 1/30
14/14 [==============================] - 0s 6ms/step - loss: 27.8357 - val_loss: 33.0635
Epoch 2/30
14/14 [==============================] - 0s 2ms/step - loss: 20.5382 - val_loss: 30.3340
Epoch 3/30
14/14 [==============================] - 0s 2ms/step - loss: 19.5554 - val_loss: 28.6721
Epoch 4/30
14/14 [==============================] - 0s 2ms/step - loss: 19.7545 - val_loss: 41.5307
Epoch 5/30
14/14 [==============================] - 0s 2ms/step - loss: 20.5154 - val_loss: 37.2501
Epoch 6/30
14/14 [==============================] - 0s 2ms/step - loss: 19.1545 - val_loss: 29.5922

Para este próximo modelo, vamos predizer se os pacientes têm diabetes ou não.

In [13]:
# lendo e treinando dados
train_df_2 = pd.read_csv('data/diabetes_data.csv')

# visualiza estrutura dos dados
train_df_2.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [14]:
# cria dataframe com todas as colunas exceto a coluna alvo

target = train_df_2['diabetes']

train_X_2 = train_df_2.drop(columns=['diabetes'])

# verifica se a coluna alvo foi removida
train_X_2.head()

   pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0            6      148         72       35        0  33.6  0.627   50
1            1       85         66       29        0  26.6  0.351   31
2            8      183         64        0        0  23.3  0.672   32
3            1       89         66       23       94  28.1  0.167   21
4            0      137         40       35      168  43.1  2.288   33

In [11]:
# coluna de destino de codificação one-hot
#one-hot encode target column
train_y_2 = to_categorical(train_df_2.diabetes)

#vcheck that target column has been converted
train_y_2[0:5]

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.]], dtype=float32)

In [12]:
#create model
model_2 = Sequential()

#get number of columns in training data
n_cols_2 = train_X_2.shape[1]

#add layers to model
model_2.add(Dense(250, activation='relu', input_shape=(n_cols_2,)))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(2, activation='softmax'))

#compile model using accuracy to measure model performance
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [13]:
train_X_2.shape

(768, 8)

In [15]:
#train model
model_2.fit(train_X_2, train_y_2, epochs=30, validation_split=0.2, callbacks=[early_stopping_monitor])

Epoch 1/30
20/20 [==============================] - 0s 3ms/step - loss: 0.5610 - accuracy: 0.7036 - val_loss: 0.6613 - val_accuracy: 0.6104
Epoch 2/30
20/20 [==============================] - 0s 2ms/step - loss: 0.5415 - accuracy: 0.7150 - val_loss: 0.5983 - val_accuracy: 0.7078
Epoch 3/30
20/20 [==============================] - 0s 2ms/step - loss: 0.5544 - accuracy: 0.7215 - val_loss: 0.7097 - val_accuracy: 0.6169
Epoch 4/30
20/20 [==============================] - 0s 2ms/step - loss: 0.5605 - accuracy: 0.6938 - val_loss: 0.6468 - val_accuracy: 0.6818
Epoch 5/30
20/20 [==============================] - 0s 2ms/step - loss: 0.5442 - accuracy: 0.7264 - val_loss: 0.6266 - val_accuracy: 0.7078